* {
    text-align: center;
}

#add-movie-btn {
    visibility: hidden;
}

.movie-posters{
    width: 100%;
    height: 25vw;
    object-fit: scale-down;
}

#movie-row{
    width: 100%;
}

/*Resizing height of the paragraph with a class of movie-plot to make sure they are all the same height*/
.movie-plot {
    position: relative;
    height: 150px;
}


/* Add a red background color to the cancel button */
.form-container .cancel {
    background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

/*// Extra small devices (portrait phones, less than 576px)*!*!*/
@media (max-width: 575.98px) {

}

/*// Small devices (landscape phones, 576px and up)*!*!*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/*// Medium devices (tablets, 768px and up)*!*!*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/*// Large devices (desktops, 992px and up)*!*!*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/*// Extra large devices (large desktops, 1200px and up)*!*!*/
@media (min-width: 1200px) {

}